*{
    background-color: rgb(211, 40, 197);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.elements{
    flex-wrap: wrap;
}

#list{
    float: left;
}

.button{
    margin-left: auto;
    float:none;
}

#postIt{
    width: 20vh;
    height: 20vh;
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
    margin-left: 3vw;
    margin-bottom: 3vw;
    border: none;
    border-radius: 10%;
}

#add-button{
    background-color: transparent;
    border: none;
    font-size: xx-large;
    width: 20vh;
    height: 20vh;
    margin-left: 3vw;
}

#text{
    background-color: white;
    color: black;
    width: 30vw;
    height: 12vh;
}

#postIt:hover{
    opacity: 0.5;
    transition: 0.5s;
}

.newList{
    position: fixed;
    margin-top: 3vw;
    bottom: 30px;
    height: 10%;
    left: 32%;
}

#agregar{
    background-color: aqua;
    color: black;
    border-color: black;
    font-size: medium;
    padding: 10px;
}

@media (max-width: 721px){
    .newList{
        flex:auto;
        position: inherit;
        margin-top: 3vw;
        bottom: 10px;
        height: 10%;
    }
    #text{
        background-color: white;
        color: black;
        width: 98%;
        height: 12vh;
    }
    #agregar{
        background-color: aqua;
        color: black;
        border-color: black;
        font-size: medium;
        padding: 5px;
        width: 100%;
    }
}